.clock-container {
  width: 400px;
  height: 500px;
  border: 2px solid orange;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  background: rgb(132, 135, 64);
  background: linear-gradient(
    218deg,
    rgba(132, 135, 64, 1) 0%,
    rgba(157, 189, 65, 1) 50%,
    rgba(101, 219, 60, 0.8239670868347339) 100%
  );
}

.left-col,
.right-col {
  width: 50%;
  max-height: 200px;
  text-align: center;
}

.bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.ctrl-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ctrl-btn {
  color: #fff;
}

.ctrl-btn:hover {
  color: rgb(217, 255, 0);
}

.btn-start,
.btn-reset {
  color: rgb(217, 255, 0);
  margin: 10px;
}

.btn-start:hover,
.btn-reset:hover {
  color: #fff;
}

#break-label,
#session-label {
  margin: 20px 0 10px 0;
  color: #fff;
  font-size: 24px;
}

#timer-label {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

#break-length,
#session-length {
  display: inline-block;
  padding: 0 5px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(217, 255, 0);
}
